.card {
  width: var(--card-width);
  height: var(--card-height);
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.card .image-container {
  height: 100%;
  width: 100%;
  object-fit: cover;
  background-color: gray;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.card .image-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.4) 0%,
    rgba(0, 0, 0, 0.3) 25%,
    rgba(0, 0, 0, 0.2) 50%,
    rgba(0, 0, 0, 0.1) 75%,
    rgba(0, 0, 0, 0) 100%
  );
  z-index: 2;
}

.card .image-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.image-container .alt-text {
  padding: 0.25rem;
  text-align: center;
  font: var(--section-title);
  height: max-content;
}
