header {
  display: flex;
  padding: calc(var(--global-padding) / 2) var(--global-padding);
  justify-content: space-between;
  align-items: center;
  position: var(--header-position);
  width: 100%;
  z-index: 10;

  .logo {
    font: var(--logo);
    color: #db202c;
    text-align: center;
    perspective: 1000px;
    perspective-origin: 50% 0;
    display: inline-flex;
    user-select: none;
    cursor: pointer;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
    background: var(--background-header);
  }

  .list {
    > a {
      font-size: 1rem;
      font-weight: 500;
      color: white;
      background-color: #db202c;
      padding: 0.5rem 1rem;
      border-radius: 5px;
    }
  }
}
